@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

body {
  background-color: $pt-app-background-color;
  > #__next {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

.app-body {
  padding-top: $pt-navbar-height;
  display: flex;
  flex: 1;
}

.hg-content {
  flex: 1;
}

.hg-nav,
.hg-aside {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.hg-nav {
  /* put the nav on the left */
  order: -1;
}
